@model Enobet_versiyon1.Models.MahalModel
@{
    ViewBag.Title = "Nöbet Kıdemli İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/app-assets/vendors/css/forms/select/select2.min.css")
<style>
    #viewContent #searchInput, #viewContent #autoCompleteSelect {
        width: 430px;
    }

    #viewContent #searchInput {
        padding: 5px 0;
    }

    #viewContent #autoCompleteSelect option:hover {
        background-color: #d8fff7;
        cursor: pointer;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
</style>
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">Nöbet Kıdemli İşlemi</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("index","Home")"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Yönetici İşlemleri</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Nöbet Kıdemli İşlemleri</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Horizontal form layout section start -->
            <section id="basic-horizontal-layouts">
                <div class="row match-height">

                    <div class="col-md-12 col-12">

                        @using (Html.BeginForm("MahalEkle", "YoneticiIslemleri", FormMethod.Post))
                        {

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Nöbet Kıdemli İşlemi</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Nöbet Kıdemli Ad-Soyad</label>
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <div class="position-relative has-icon-left" id="viewContent">
                                                            <input type="hidden" id="uId" name="uId" value="0" />
                                                            @*<input type="text" placeholder="Personel Adı" id="uName" required class="editor-field" data-autocomplete="@Url.Action("Search","YoneticiIslemleri")" />*@

                                                            @*<div class="form-control-position">
                                                                    <i class="bx bx-user"></i>
                                                                </div>*@
                                                            @*<div>*@
                                                            <input type="text" id="searchInput" class="form-control" placeholder="Personel Adı" />

                                                            <div id="autoCompleteDiv"></div>
                                                            @*</div>*@

                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Yetki Mahali</label>
                                                    </div>
                                                    <div class="col-md-4 form-group ">
                                                        <div class="position-relative has-icon-left">
                                                            @Html.DropDownListFor(n => n.MahalKidemli.SelectedValues, new SelectList(ViewBag.ddlMahalId, "Value", "Text", Model.MahalKidemli.MahalList), new { @class = "select2 js-example-programmatic form-control", @multiple= "multiple", @id= "programmatic-single" })

                                                            @*<select class="select2 js-example-programmatic form-control" multiple="multiple" id="programmatic-single">

                                                                <option value="AK">Alaska</option>
                                                                <option value="HI">Hawaii</option>

                                                                <option value="CA">California</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="WA">Washington</option>


                                                            </select>*@


                                                            @*<input type="text" placeholder="Personel Adı" id="uName" required class="editor-field" data-autocomplete="@Url.Action("Search","YoneticiIslemleri")" />*@


                                                            @*<div id="viewContent">
            <input type="text" id="searchInput" class="form-control" placeholder="Personel Adı" />
            <div id="autoCompleteDiv"></div>
        </div>
        <div class="form-control-position">
            <i class="bx bx-user"></i>
        </div>*@
                                                        </div>
                                                    </div>


                                                    <div class="col-12 d-flex justify-content-end ">
                                                        <button id="mahalKidemBtnKaydet" onclick="mahalKidemClkKaydet();" type="button" class="btn btn-primary mr-1 mb-1">Kaydet</button>
                                                        <button id="mahalBtnTemizle" onclick="mahalBtnTemizleFnc();" type="reset" class="btn btn-light-secondary mr-1 mb-1">Temizle</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </section>

            <section id="column-selectors">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Mahal Kıdemli Listesi</h4>
                                <li style="float:left">
                                    <span class="badge badge-pill badge-light-primary">
                                        <input onclick="btnUserListClk();" type="button" value="Listele" />
                                    </span>
                                </li>

                                @*<li style="float:right"><span class="badge badge-pill badge-light-success">@Model.KullaniciList.Count Aktif</span></li>*@
                            </div>
                            <div class="card-content">
                                <div class="card-body card-dashboard">

                                    <div class="table-responsive">
                                        <table id="tableUserList" class="table table-striped dataex-html5-selectors">
                                            <thead>
                                                <tr>
                                                    <th>Personel Rütbe Ad-Soyad</th>
                                                    <th>Yetkili Mahal Adı</th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

</div>

<!--Danger theme Modal -->
<div class="modal fade text-left" id="messageBoxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="myModalLabel120">  </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Kapat</span>
                </button>

            </div>
        </div>
    </div>
</div>

<!-- BEGIN: Page Vendor JS-->
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/datatables.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/buttons.print.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/pdfmake.min.js")
@Scripts.Render("~/app-assets/vendors/js/tables/datatable/vfs_fonts.js")
<!-- END: Page Vendor JS-->
<!-- BEGIN: Page JS-->
@Scripts.Render("~/app-assets/js/scripts/datatables/datatable.js")
<!-- END: Page JS-->
<!-- BEGIN: Page Vendor JS-->
@Scripts.Render("~/app-assets/vendors/js/forms/select/select2.full.min.js")


@Scripts.Render("~/app-assets/js/scripts/forms/select/form-select2.js")
<!-- END: Page JS-->
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@

<!-- BEGIN: Page JS-->
@*@Scripts.Render("~/app-assets/js/scripts/datatables/datatable.js")*@
<!-- END: Page JS-->
@*@Scripts.Render("~/app-assets/fullCalendar_3.8.0/lib/jquery-ui.min.js")*@
<script>
    @*
    $(document)
        .ready(function (request) {


            $("#uName").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                       url: "@Url.Action("Search","YoneticiIslemleri")", type: "POST", dataType: "json",
                        data: { searchText: request.term, maxResults: 10 },
                        success: function (data) {
                            response($.map(data, function (item) {
                                debugger;
                                return { label: item.label, value: item.value}
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    alert(ui.item ? ("You picked '" + ui.item.label + "' with an ID of " + ui.item.id)
                        : "Nothing selected, input was " + this.value);
                }
            });



    });*@



</script>

<script>
    $(document).ready(function () {

        btnUserListClk();

        $("#searchInput").keyup(function (e) {
            if (e.which == 40) {
                $("#autoCompleteSelect").val($("#autoCompleteSelect option:first").val());
                $("#autoCompleteSelect").focus();
                $(this).val($("#autoCompleteSelect :selected").text());
            }
            else {
                if ($(this).val().length > 2)
                    FillAutoComplete($(this).val());
                else
                    $("#autoCompleteDiv").hide();
            }
        });

    });


    function FillAutoComplete(value) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Search", "YoneticiIslemleri")",
            contentType: "application/json; charset=utf-8",
            data: '{"term":"' + value + '"}',
            dataType: "json",
            success: function (result, status, xhr) {

                var html = "<select id=\"autoCompleteSelect\" size=\"5\">";
                for (var i = 0; i < result.length; i++) {
                    html += "<option value=\"" + result[i].value + "\">" + result[i].label + "</option>";
                }
                html +="</select>";
                $("#autoCompleteDiv").html(html);
                $("#autoCompleteDiv").show();
            },
            error: function (xhr, status, error) {
                alert(xhr + " " + status + " " + error);
            }
        });
        return false;
    }
    $("#viewContent").on("change", "#autoCompleteSelect", function () {

        var uid = $("#autoCompleteSelect :selected").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("KidemKullaniciMahalListGetir","YoneticiIslemleri")",
            data: JSON.stringify({ uid:uid}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (ex) {
                $("#messageBoxModal .modal-title").html("Kıdemli Personel Listeleme İşlemi");
                //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                $("#messageBoxModal .modal-body").html("<p>Hata Oluştu</p>");
                $('#messageBoxModal').modal();
            },
            success: function (data) {

                if (data.State == 1) {
                    var values = [];
                    if (data.kidemliMahalList != null) {
                        var mahalList = JSON.parse(data.kidemliMahalList);
                        for (var i = 0; i < mahalList.length; i++) {
                            values[i] = mahalList[i].MahalId.toString();
                        }
                        /*var element = $('#programmatic-single');
                        var values = "1,2,3";
                        $.each(values.split(","), function (i, e) {
                            $("#programmatic-single option[value='" + e + "']").prop("selected", true).trigger('change');;
                        });*/
                        $('#programmatic-single').val(values).trigger('change');
                    }

                    //$("#programmatic-single").multiselect('refresh');
                    $("#uId").val(uid);
                    $("#searchInput").val($("#autoCompleteSelect :selected").text());

                }
            }
        });


    });

    $("#viewContent").on("click", "#autoCompleteSelect", function () {
        $("#autoCompleteDiv").hide();
        //location.href = $(this).val();
    });

    function ShowAutoName(value) {
        $("#autoCompleteDiv").html(value);
        $("#autoCompleteDiv").show();
    }


    var tableUserList;

     function btnUserListClk() {

        $.ajax({
            type: "POST",
            url: "@Url.Action("KidemKullaniciListele","YoneticiIslemleri")",
            data: JSON.stringify({}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (ex) {
                $("#messageBoxModal .modal-title").html("Kıdemli Personel Listeleme İşlemi");
                //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                $("#messageBoxModal .modal-body").html("<p>Hata Oluştu</p>");
                $('#messageBoxModal').modal();
            },
            success: function (data) {

                if (data.State == 1) {

                    if ($.fn.DataTable.isDataTable('#tableUserList')) {
                        $('#tableUserList').DataTable().clear().draw();
                    }
                    ////////////
                    var fileName = "Foça Bilgi Sistem Amirliği E-Nöbet Listesi - Kıdemli Personel Listesi ";
                    var userList = JSON.parse(data.userList);
                    tableUserList = $('#tableUserList').DataTable({
                        "data": userList,
                        "columns": [
                            { title: "Personel Rütbe Ad-Soyad", data: "FullAdi" },
                            { title: "Yetkili Mahal Adı", data: "YetkiMahalAdi" },
                            { title: "İşlemler", data: "NobetKidemliId" }
                        ],
                        /* columnDefs: [

                             {
                                 type: 'turkish', targets: '_all'
                             },

                         ],*/
                        columnDefs: [
                            {
                                "targets": 2,
                                "data": "KullaniciId",
                                "render": function (data, type, row, meta) {
                                    //debugger;
                                    var editStr = "";

                                    var str = ' <div id="table_dd_' + data +'" class="dropdown">' +
                                        '<span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">' +
                                        '</span>' +
                                        '<div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(19px, -7px, 0px);">' +
                                       // '   <a class="dropdown-item" onclick="editUserClk(' + data + ')"><i class="bx bx-edit-alt mr-1"></i> Güncelle</a>' +
                                        '<a class="dropdown-item" href="#" onclick="deleteUserClk(' + data + ')"><i class="bx bx-trash mr-1"></i> Sil</a>' +
                                        '</div>'
                                    '</div>';


                                    return str;
                                }
                            }
                            // ,
                            //{
                            //     "targets": 6,
                            //     "visible": false
                            // }

                        ],  dom: 'Bfrtip',
                        buttons: [
                            'print',
                            { extend: 'pdf', className: 'pdfButton', title: 'E-Nöbet Listesi - Kıdemli Personel Listesi', filename: fileName },
                            {
                                extend: 'csv',
                                charset: 'UTF-8',
                                fieldSeparator: ';',
                                bom: true,
                                className: 'excelButton',
                                filename: fileName,
                                title: 'E-Nöbet Listesi - Kıdemli Personel Listesi'
                            }
                        ]
                    });

                    ///////

                } else {
                    $("#messageBoxModal .modal-title").html(data.title);
                    $("#messageBoxModal .modal-header").removeClass("bg-success");
                    $("#messageBoxModal .modal-header").addClass("bg-danger");
                    //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                    $("#messageBoxModal .modal-body").html("<p>" + data.Message + "</p>");
                    $('#messageBoxModal').modal();
                }

            }
        });

    }
    function mahalKidemClkKaydet() {
        var values = $('#programmatic-single').val();
        var uid = $('#uId').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("KidemKullaniciMahalEkle","YoneticiIslemleri")",
            data: JSON.stringify({ values: values, uid: uid }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (ex) {
                $("#messageBoxModal .modal-title").html("Kıdemli Personel Listeleme İşlemi");
                //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                $("#messageBoxModal .modal-body").html("<p>Hata Oluştu</p>");
                $('#messageBoxModal').modal();
            },
            success: function (data) {

                if (data.State == 1) {
                    $("#messageBoxModal .modal-title").html("Nöbet Kıdemli Ekleme");
                    $("#messageBoxModal .modal-header").removeClass("bg-danger");
                    $("#messageBoxModal .modal-header").addClass("bg-success");
                    //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                    $("#messageBoxModal .modal-body").html("<p>" + data.Message + "</p>");
                    $('#messageBoxModal').modal();
                    mahalBtnTemizleFnc();
                } else {
                    $("#messageBoxModal .modal-title").html("Nöbet Kıdemli Ekleme");
                    $("#messageBoxModal .modal-header").removeClass("bg-success");
                    $("#messageBoxModal .modal-header").addClass("bg-danger");
                    //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                    $("#messageBoxModal .modal-body").html("<p>" + data.Message + "</p>");
                    $('#messageBoxModal').modal();
                }
            }
        });
    }
    function deleteUserClk(id) {
         $.ajax({
            type: "POST",
            url: "@Url.Action("deleteUserKidemliClk","YoneticiIslemleri")",
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (ex) {
                $("#messageBoxModal .modal-title").html(data.title);
                //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                $("#messageBoxModal .modal-body").html("<p>Hata Oluştu.</p>");
                $('#messageBoxModal').modal();
            },
            success: function (data) {
                if (data.State == 1) {

                    tableUserList
                        .row($("#table_dd_" + id).parents('tr'))
                        .remove()
                        .draw();

                    $("#messageBoxModal .modal-title").html(data.title);
                    $("#messageBoxModal .modal-header").removeClass("bg-danger");
                    $("#messageBoxModal .modal-header").addClass("bg-success");
                    //$("#messageBoxModal .message-image").children().eq(0).attr("src", "/Content/img/Warning.png");
                    $("#messageBoxModal .modal-body").html("<p>" + data.Message + "</p>");
                    $('#messageBoxModal').modal();
                }
            }
        });
    }
    function mahalBtnTemizleFnc() {
        $('#searchInput').val("");
        $('#uId').val("0");
        $('#programmatic-single').val(null).trigger('change');
    }

</script>


